.center
  display: flex;
  justify-content: center;
  padding: 0 8px;

.shareGroup
  margin-top: 6px;
  &>span
    font-size: 0.878em;

@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait)
  .shareGroup >span
    font-size: 0.58em;