
.rowContainer
  position: relative

  .text
    position: absolute
    bottom: 0;
    left: 0;

    transition: opacity 0.25s ease-in-out
    background-color: rgba(0,0,0,0.22)
    color: white
    opacity: 0
    padding: 0 10px
    margin: 0
    cursor: auto

  &:hover .text
    opacity: 1
    
@media (max-width: 768px)
  .rowContainer .text
    font-size: 0.8rem
