$margin: 6px
$timeout: 2s
$yOffset: -68px

.box
  position: fixed
  top: $margin
  right: $margin
  z-index: 30

  transform: translateY($yOffset)
  animation: slideDown $timeout 0s 1 ease forwards

@-webkit-keyframes slideDown
    0%, 100% { transform: translateY($yOffset); }
    8%, 91% { transform: translateY(0px); }
