
.container {
    border-radius: 9px;

    .iconStyle{
      width: 128px;
      height: 128px;
      position: relative;
      display: block;
      margin: 0px auto 30px auto;
      cursor: pointer;

    }
    .oauthStyle {
        width: 30px;
        cursor: pointer;
        margin: 0 1px;
        filter: grayscale(100%);
        transition: filter 0.8s;

        &:hover {
            filter: none;
        }
    }
}
