<!DOCTYPE html>
<html>
    <head>
        <title><%= htmlWebpackPlugin.options.title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="robots" content="INDEX,FOLLOW"/>
        <meta name="keywords" content="colorpk, colorpicker, color picker, palette, color combination" />
        <meta name="description" content="Welcome to ColorPK, your best color picker, written in react.js" />
        <link rel="shortcut icon" href="//dkny.oss-cn-hangzhou.aliyuncs.com/3/fav.ico" />
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-5LX6LV3');
        </script>
    </head>
    <body>
        <noscript>
          <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5LX6LV3"
          height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <div id="app"></div>
    </body>
</html>
