.container {
    background-color: white;
    border: 1px solid #d8d8d8;
    min-width: 130px;
    border-radius: 4px;
    padding: 7px 10px 2px 12px;

    hr {
        border: 0.6px solid #d8d8d8;
        margin: 5px 0;
    }
    h3 {
        margin-bottom: 0;
    }
    h4 {
        margin: 6px 0;
        & > a {
            text-decoration: none;
        }
    }
}