@import "node_modules/bulma/sass/utilities/_all.sass"
@import "node_modules/bulma/sass/elements/button.sass"
@import "node_modules/bulma/sass/components/navbar.sass"

.navbar-link:not(.is-arrowless)::after
  margin-top: -10px !important
.navbar-item
  font-size: 14px
.buttons > .button
  height: 1.3rem