
$control-height: 2.25em
$control-padding-vertical: calc(0.375em - 1px)
$control-padding-horizontal: calc(0.625em - 1px)
$button-padding-vertical: calc(0.375em - 1px)
$button-padding-horizontal: 0.75em

@import "node_modules/bulma/sass/utilities/_all.sass"
@import "node_modules/bulma/sass/elements/button.sass"
@import "node_modules/bulma/sass/components/navbar.sass"

.navbar-link:not(.is-arrowless)::after
  margin-top: -10px !important
.navbar-item
  font-size: 14px

// disable the default larger button height
.buttons .button
  height: inherit