
html {
    h1,h2,h3,h4,h5,p{
    font-family: 'Titillium Web', sans-serif;
    }
    height: 100%;
    margin: 0;
}

.layoutBox{
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
}

.routeName {
  color: grey;
}

.main {
    width: 100%;
    padding: 40px 10px 0 10px;
    height: 90%;
}
