.box {
  background-color: white;
  padding-top: 8px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 2px 3px 0.6px #d9d9d9;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    transition: box-shadow 0.8s;
    box-shadow: 0 6px 9px 2px #cccccc;
  }

  .boxFooter {
    height: 16%;
    width: 92%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hasLike {
        color: #e86666
    }
  }
}



