.list {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}
.colContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}
.spinContainer {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}