
.header{
    background-color: #fff;
    width: 100%;
    height: 46px;

    .title {
        display: inline-block;
        margin-top: 7px;
        color: #909090;
        span:nth-child(1) {
            color: #929292;
        }
        span:nth-child(2) {
            color: #57a5e4;
        }
    }
    .btnGroup{
        margin-top: 10px;
        display: flex;
        img {
            height: 29px;
            border-radius: 10%;
            border: 1px solid #d1d0d6;

            &:hover{
                border: 1px solid #f387be;
            }
        }
    }
}