
.header{
    background-color: #fff;
    width: 100%;
    height: 46px;
    .img {
        width: 66px;
        margin-top: 22px;
    }
    .title {
        display: inline-block;
        margin-top: 4px;
        color: #909090;
        span {
            color: #57a5e4;
        }
    }
    .btnGroup{
        margin-top: 10px;
        display: flex;
        img {
            margin-right: 15px;
            height: 27px;
        }
    }
}