// https://css-tricks.com/pop-from-top-notification/

$margin: 8px
$margin-mobile: 3px
$timeout: 2s
$yOffset: -73px
$textHeight: 25px

.box
  position: fixed
  top: $margin
  right: $margin
  z-index: 30
  display: flex

  transform: translateY($yOffset)
  animation: slideDown $timeout 0s 1 ease forwards

  -webkit-transform: translateY($yOffset)
  -webkit-animation: slideDown $timeout 0s 1 ease forwards

  -moz-transform: translateY($yOffset)
  -moz-animation: slideDown $timeout 0s 1 ease forwards

.text
  line-height: $textHeight
  text-align: center
  margin-left: 10px
  font-size: 1.1rem

@keyframes slideDown
    0%, 100% { transform: translateY($yOffset); }
    8%, 91% { transform: translateY(0px); }

@-webkit-keyframes slideDown
    0%, 100% { -webkit-transform: translateY($yOffset); }
    8%, 91% { -webkit-transform: translateY(0px); }

@-moz-keyframes slideDown
    0%, 100% { -moz-transform: translateY($yOffset); }
    8%, 91% { -moz-transform: translateY(0px); }

@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (orientation : portrait)
  .box
    top: $margin-mobile
    right: $margin-mobile
  .text
    font-size: 0.8rem

