.list {
  display: flex;
  flex-wrap: wrap;
}
.colContainer {
    margin: 15px 0;
    //border: 1px solid red;
}

.pcPadding {
   padding: 0 4%;
}

.selectedBox{
    display: flex;
    justify-content: center;
    margin: 40px 0;
}