.list 
  display: flex
  flex-wrap: wrap
  justify-content: center
  width: 92%
  margin: 0 auto

.container 
  background: rgba(230,230,230,0.95)
  min-height: 1300px

@media (max-width: 768px)
  .list
    width: 99%

@media (max-width: 321px)
  .list
    width: 100%
  

