.list {
  display: flex;
  flex-wrap: wrap;
}
.colContainer {
    margin-bottom: 30px;
    //border: 1px solid red;
}

.pcPadding {
   padding: 0 4%;
}

.selectedBox{
    display: flex;
    justify-content: center;
    margin: 40px 0;
}