.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 92%;
  margin: 0 auto;
  // border: 1px solid blue;
}

.pcPadding {
   padding: 0 4%;
}

.selectedBox {
    width: 275px;
    margin: 40px auto;
}

@media (max-width: 768px) {
  .list {
    width: 99%;
  }
}

@media (max-width: 321px) {
  .list {
    width: 100%;
  }
}
