.authContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.canvansContainer {
  position: absolute;
  width: 100%;
  height: 100%;

  background: #134E5E;
  background: -webkit-linear-gradient(to left, #134E5E , #71B280);
  background: linear-gradient(to left, #134E5E , #71B280);
}
